html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-areas: "sidebar map";
	grid-template-columns: 300px auto;
	overflow: hidden;
}

#map {
	height: 100%;
	grid-area: map;
}

.sidebar {
	grid-area: sidebar;
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: min-content auto 50px;
	grid-template-columns: 100%;
	background-color: #669;
	color: #eee;
	font-family: "Times";
	width: 300px;

	overflow-x: hidden;
	overflow-y: scroll;
}

.header {
	grid-area: header;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}

.heading {
	font-size: 2em;
	text-align: center;
}

.blurb {
	padding-top: 10px;
}

.content {
	grid-area: content;
	padding: 15px;
}

.timeChoice {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}

.iconCheckbox > input {
	visibility: hidden;
	position: absolute;
}

.iconCheckbox > input + div {
	cursor: pointer;
}

.iconCheckbox > input:checked + div,
.iconCheckbox > input:active + div {
	fill: #ffaa00;
}

.iconCheckbox > input + div {
	fill: #cccccc;
}

.iconCheckbox > input:not(:checked):not(:active):hover + div {
	fill: #ededed;
}

.iconCheckbox > input:checked:hover + div {
	fill: #ffcc00;
}

.iconCheckbox {
	margin: 5px;
	width: 2em;
	height: 2em;
}

.iconCheckbox svg, .loading-icon svg {
	width: 100%;
	height: 100%;
}

#timeInput {
	font-size: 2em;
	border: none;
}

.transitModeButtons, .sideButtons {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.radioItem > input {
	visibility: hidden;
	position: absolute;
}

.radioItem > input:not(:disabled) + div {
	cursor: pointer;
}

.radioItem > input + div {
	background-color: #888;
	background-size: 3em;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25%;
	height: 3em;
	width: 3em;
	padding: 8px;
}

.radioItem > input:checked + div {
	background-color: orange;
}

.radioItem > input:not(:disabled):hover + div {
	background-color: #aaa;
}

.radioItem > input:not(:disabled):checked:hover + div {
	background-color: lightsalmon;
}

.carImage {
	background-image: url('ic_directions_car_white_24px.svg');
}

.transitImage {
	background-image: url('ic_directions_transit_white_24px.svg');
}

.leftImage {
	background-image: url('ic_arrow_back_white_24px.svg');
}

.rightImage {
	background-image: url('ic_arrow_forward_white_24px.svg');
}

.address {
	padding: 5px;
	position: relative;
}

.autocomplete {
	position: absolute;
	top: 3.5em;
	z-index: 1000;
	left: 5px;
	right: 5px;

	max-height: 50vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.autocomplete .result {
	background: white;
	color: black;
	padding: 4px;
}

.autocomplete .result:not(:last-child) {
	border-bottom: 1px black solid;
}

.autocomplete .result:focus {
	background: #bbb;
	outline: none;
}

.autocomplete .result .details {
	font-size: 0.75em;
}

.address > label {
	padding-left: 10px;
}

.input-wrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 100%;
}

input {
	outline: none;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 0.75em;
	background-color: #447;
	color: #eee;
}

input[type="text"]::placeholder {
	color: #ff0000;
	font-weight: 600;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.loading-icon {
	display: none;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 0.5em;
}

.loading-icon svg {
	fill: #ffaa00;
}

.loading-icon[show] {
	display: initial;
}

.calcButton {
	text-align: center;
	padding-top: 10px;
}

input[type="button"] {
	padding: 15px;
	color: #eee;
	background-color: #d80;
	border: 2px solid #d80;
	border-radius: 15px;
	font-weight: bold;
}

input[type="button"]:hover {
	background-color: #e90;
}

input[type="button"]:active {
	padding-top: 17px;
	padding-bottom: 13px;
}

.functions {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding: 10px;
}

.swapButton > input {
	visibility: hidden;
	position: absolute;
}

.swapButton > input:not(:disabled) + div {
	cursor: pointer;
}

.swapButton > input + div {
	background-color: #d80;
	background-size: 2.5em;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #d80;
	border-radius: 25%;
	height: 2.5em;
	width: 2.5em;
	padding: 8px;
}

.swapButton > input:active + div {
	background-position: 50% 75%;
}

.swapButton > input:not(:disabled):hover + div {
	background-color: #e90;
}

.swapButtonImage {
	background-image: url('ic_swap_vert_white_24px.svg');
}

#resultText {
	text-align: center;
}

.routeDetails {
	margin-top: 10px;
	text-align: center;
}

.footer {
	grid-area: footer;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #ffaa00;
}
